.main-button {
    border-radius: 41px;
    padding: 20px 61px;
    background-color: #69AE96;
    display: flex;
    justify-content: center;
    cursor: pointer;

    & a {
        color: white;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
    }
}