.superstar_section {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    height: 490px;


    .superstar_conteiner {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .superstar_conteiner img {
        position: absolute;
        right: 0;
        top: 0;
    }



    .superstar_text h2 {
        @include font-style-main(60px, 70.68px);
    }

    .superstar_text p {
        max-width: 660px;
        @include fonts-style-desc(16px, 300);
        color: #1F1F1F
    }
}